@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img[src="/assets/logo-simply.webp"] {
  content: url('/assets/logo-simply-transparent.svg');
}

img[src="/assets/app-home.webp"] {
  content: url('/assets/app-home-transparent.svg');
}

img[src="/assets/app-cards.webp"] {
  content: url('/assets/app-cards-transparent.svg');
}

img[src="/assets/app-analytics.webp"] {
  content: url('/assets/app-analytics-transparent.svg');
}

img[src="/assets/app-onboarding.webp"] {
  content: url('/assets/app-onboarding-transparent.svg');
}

img[src="/assets/logo-simply-transparent.svg"],
img[src="/assets/app-home-transparent.svg"],
img[src="/assets/app-cards-transparent.svg"],
img[src="/assets/app-analytics-transparent.svg"],
img[src="/assets/app-onboarding-transparent.svg"] {
  background: transparent !important;
}
